<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
              
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="140px" height="196px">
                </div>
                <div class="contact">
                  Master Student in Data Science<br>
                  (Big Data & Deep Learning)  <br>
                  <a href="https://www.unibo.it/en">University of Bologna.</a>, Bologna, Italy <br>
                  Previous: <a href="https://www.hcltech.com/">HCL Technologies, INDIA.</a> 
                  <br>
                  Email: <a href="mailto:kvsharsha9010@gmail.com">kvsharsha9010@gmail.com</a> <br>
                  GitHub: <a href="https://github.com/harshakantipudi">harshakantipudi</a> <br>
                  <a href="https://www.linkedin.com/in/harshakantipudi/">Linkedin</a> <br>
                </div>
              </div>
                    
              
              <div class="homecontent">
                <b><span style="color:brown"><font size="4">Brief Bio</font></span></b> <br>
                <li>Even though I have a bachelor’s degree in Electronic and Communication Engineering, I have a strong passionate towards Data Science because of this I decided to enter IT Industry as professional student and finally I came out with 3 years of experience in the Semiconductor domain.
                <li>Currently I am pursuing Masters in Data Science at University of Bologna, Italy.As Data science is a multi-disciplinary field. Subjects like Data Science in Manufacturing, Social Data science and Customer and marketing analytics helped me 
                in getting Domain and industrial knowledge.This knowledge helped me in feature engineering for creating features and to optimize the machine learning algorithms which gives me better accuracy score.
               <li>I bring cross functional expertise at the intersection of engineering, computer science, big data, statistics and business to provide quality and scalable solutions. Some of my interests include: <li>
                <br>
                <ul>
                  <li> Modelling for semiconductor testing devices </li>
                  <li>Communications & Signal Processing </li>
                  <li>Integrating and reshaping the health care industry with Data science technologies to derive new insights, and convert ideas into reality.</li>
                </ul>
                <br>
                <b><span style="color:brown"><font size="4">Career Aspiration</font></span></b> <br>
                 I like to position myself as a Data scientist which essentialy has five elements: data engineering, data visualization, machine learning, big data and cloud computing. <br><br> I aim to be a specilist in two of these areas (machine learning, cloud computing) and a generalist in the other three. This allows me to handle the complete data lifecycle. From identifying the right problem, translating the problem in terms of data, getting the data, building the pipelines, analysing data, building models, presenting findings and putting models in production, I aspire to handle it all.    
                <br>
                <br>  
                  
                <b><span style="color:brown"><font size="4">Profile At-A-Glance</font></span></b> <br>
                Currently Pursuing master's degree (MS) in Data science from <a href="https://www.unibo.it/en">University of Bologna</a> Before graduate studies I completed bachelor's in Electronics and Communication engineering from KLUniversity, India.  
                <br>
                <br>
                In the past I have worked with <a href="https://www.hcltech.com/">HCL Technologies,Chennai,India.</a> as a software Engineer and where I worked with two different projects (DeV-Ops Automation, Digital Tools).At Base level I Worked with stake holders to get Requirements in creating design documents.
                and Experienced in DeV-Ops stages of Continuous Development (Plan, Code, Build) & Continuous Integration (CI), Continuous Deployment (CD) & Continuous Testing.
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
